{% extends 'app/base.html' %}

{% block content %}
    <h2>Item list:</h2>
     {% if error %}
    <div class="alert alert-danger" role="alert">
        <h3>ATTENTION! The last logged in IP is different from this one.</h3>
    </div>
    {% endif %}

    {% for item in items %}
        <article class="item">
            <time class="date">
                created: {{ item.created_date }}
            </time>
            <h2><a href="{% url 'item_detail' pk=item.pk %}">{{ item.name }}</a></h2>
            <p>{{ item.code }}</p>
            <p>{{ item.description|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}